body {
  background: gray;
  margin: 0;
}

p {	font-family: Verdana;
	color: #000;
}

hr {
    border: solid 1px red;
    margin: 0px;
    padding: 0px;
}

.container {
  margin-left: 30px;
  background: #f06d06;
	border-width: 2px;
	border-style: solid;
	border-color: blue;
	width: 100px;
	height: 300px;
    overflow: hidden;
    display: block;
}
.in_container {
  width: 100%;
    height: 50%;
    margin: -2px;
    padding: 0px;
  border-width: 2px;
  border-style: solid;
  border-color: green;
  display: inherit;
}

.center_me {
    margin-top: 50%;
    margin-right: auto;
    margin-left: 50%;
    margin-bottom: auto;
    padding: 0px;
    overflow: hidden;
    display: inherit;
}

.circle {
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 20px;
    display: inline-flex;
}
